/* [data-type="unique"].MuiContainer-root.makeStyles-container-20.MuiContainer-maxWidthSm {
  color: purple;
} */

/* [data-type="unique"].MuiContainer-root.makeStyles-container-14 {
  color: purple;
  padding: 0px;
  padding-left: 0px;
  margin-left: 0px;
} */